.design-tool {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.design {
    &-flex {
        display: flex;
    }

    &-tool-tabs {
        height: auto;
        flex: 0 0 144px;
        max-width: 144px;
        padding: 20px 10px;
        background-color: var(--shalow-bg);

        .design-tool-tab-item {
            cursor: pointer;
            padding: 14px 0px;
            text-align: center;
            margin-bottom: 4px;
            border-radius: 8px;

            &.active {
                color: var(--primary);
                background-color: #DBEAFF;
            }
        }
    }

    &-main {
        flex: 1 auto;
        display: flex;
        overflow-y: auto;

        .main-item {
            flex: 1;

        }
    }

}

.base-view {
    flex: 1;
    display: flex;

    .base-view-item {
        flex: 1 auto;
        background: #FFF;
        padding: 16px 20px;
        box-shadow: -1px 0px 0px 0px #E8EAF0 inset;

        &:first-child {
            flex: 0 0 512px;
            max-width: 512px;
            padding: 40px 60px;
        }
    }
}

.custom {
    &-view {
        width: 100%;
        height: 100%;
        display: flex;

        .custom-cps {
            gap: 10px;
            display: flex;
            flex-wrap: wrap;

            .cps-item {
                gap: 1px;
                width: 80px;
                height: 80px;
                display: flex;
                border-radius: 8px;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                background: var(--light);
                padding: 6px 8px 4px 8px;
                border: 1px solid #E8EAF0;

                span:last-child {
                    margin-top: 10px;
                    font-size: 12px;
                }
            }
        }
    }

    &-item-view {
        flex: 1;
        height: 100%;
        padding-top: 16px;
        position: relative;
        background: #FFF;
        padding-inline: 20px;
        box-shadow: -1px 0px 0px 0px #E8EAF0 inset;

        &:first-child {
            flex: 0 0 210px;
        }

        .form-scorller {
            height: 80vh;
            padding: 5px;
            overflow-y: auto;

            .design-form {
                .drag-item {
                    position: relative;

                    .actions {
                        position: absolute;
                    }
                }
            }
        }

        &.view-empty {
            position: relative;

            .empty {
                top: 50%;
                left: 50%;
                display: block;
                font-size: 20px;
                position: absolute;
                color: var(--unimportant);
                transform: translate(-50%, -50%);
            }
        }

        .custom-title {
            margin-bottom: 20px;
            color: var(--unimportant);
        }

        .empty {
            display: none;
        }
    }
}

.choose-data {
    .inputs {
        margin-top: 10px;
        display: flex;
        row-gap: 10px;
        flex-direction: column;

        .input-item-actions {
            display: flex;
            justify-content: space-between;
        }
    }

    .choose-data-action {
        display: flex;
        margin-top: 5px;
        align-items: center;
        justify-content: space-between;

        .dowload {
            color: var(--primary);
            margin-right: 10px;
        }


    }

    .add-input {
        width: 100%;
        text-align: center;
    }

}

.drag-item {
    padding: 1em;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: .2s linear;
    border: 1px solid #DBEAFF;

    &.active {
        border-color: var(--primary);
    }

    &.dragg-enter {
        border-style: dashed;
        border-color: var(--primary);
    }
}